footer{
    background: rgb(31, 31, 31);
    width: 100%;
}

footer.container {
    padding: 22px 0!important;
}

footer h5{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgb(155, 152, 152)
}

footer a{
    color: rgb(255, 196, 0) !important;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline !important;
    color: white;
}